@import "./theme.css";
@import "header.css";
@import "main.css";
@import "card.css";

/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}

#footer {
  background-color: var(--header-bg);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
footer h4 {
  color: var(--header-text);
  font-size: 20px;
}

.social {
  list-style-type: none;
  line-height: 2
}
.social a {
  text-decoration: none;
  color: white;
}